/* Estilos para el contenedor de los círculos */
.container-circles {
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    position: absolute;
  }
  
  /* Estilos para los círculos */
  .circle {
    top:30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  /* Estilos para los puntos (círculos giratorios) */
  .point {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    transform-origin: 50% 250%;
    animation: showCircle 2s cubic-bezier(0.3, 1, 0.8, 1) infinite, joinCircles 3s cubic-bezier(0.3, 1, 0.8, 1) forwards;
    opacity: 1; /* Inicialmente los círculos son visibles */
  }
  
  /* Animación para hacer aparecer y desaparecer los círculos */
  @keyframes showCircle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;

    }
    100% {
      opacity: 0;
    }
  }
  
  /* Animación para unir los círculos al centro */
  @keyframes joinCircles {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  /* Estilos para el círculo rojo */
  .red {
    background-color: red;
    animation: moveCircleRed 2s cubic-bezier(0.3, 1, 0.8, 1) infinite;
  }
  
  /* Animación para el círculo rojo */
  @keyframes moveCircleRed {
    0% {
      transform: rotate(0deg) translateY(-80px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(-80px) rotate(-360deg);
      
    }
  }
  
  /* Estilos para el círculo negro */
  .black {
    background-color: black;
    animation: moveCircleBlack 2s cubic-bezier(0.3, 1, 0.8, 1) infinite;
  }
  
  /* Animación para el círculo negro */
  @keyframes moveCircleBlack {
    0% {
      transform: rotate(0deg) translateY(-40px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(-40px) rotate(-360deg);
      
    }
  }
  
  /* Estilos para el círculo amarillo */
  .yellow {
    background-color: yellow;
    animation: moveCircleYellow 2s cubic-bezier(0.3, 1, 0.8, 1) infinite;
  }
  
  /* Animación para el círculo amarillo */
  @keyframes moveCircleYellow {
    0% {
      transform: rotate(0deg) translateY(40px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(40px) rotate(-360deg);
     
    }
  }
  
  /* Estilos para el círculo azul */
  .blue {
    background-color: blue;
    animation: moveCircleBlue 2s cubic-bezier(0.3, 1, 0.8, 1) infinite;
  }
  
  /* Animación para el círculo azul */
  @keyframes moveCircleBlue {
    0% {
      transform: rotate(0deg) translateY(80px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(80px) rotate(-360deg);
    }
  }
  
/* Animación para hacer visible la frase */
.joined {
  position: absolute;
  font-size: 24px;
  text-align: center;
  color: white;
  animation: fadeIn 2s forwards;
  opacity: 0;
  background-color: violet;
  height: 0;
  width: 0;
  margin: 0px;
  border-radius: 50%;
}

.title-joined {
  margin-top: 40%;
}

/* Animación para mostrar la frase */
@keyframes fadeIn {
  0% {
    opacity: 0;
    font-size: 0;
  }
  90% {
    opacity: 1;
    width: 350px;
    font-size: 25px;
    height: 350px;
  }
  100% {
    opacity: 1;
    width: 340px;
    font-size: 25px;
    height: 340px;
  }
}
